<!DOCTYPE html>
<html lang="id">
  <head>
    <meta charset="UTF-8" />
    <title>Akses Internet Diaktifkan</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/success.css') }}" />
  </head>
  <body>
    <div class="card">
      <h2>🎉 Akses Internet Aktif!</h2>
      <p>
        Selamat, kode voucher Anda berhasil divalidasi. Anda sekarang dapat
        menggunakan internet.
      </p>
      <a href="/dashboard" class="btn">Lihat Dashboard</a>
    </div>
  </body>
</html>
